styles.css


.container{
    max-width:1200px;
    margin: 100px;
    padding: 100px;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

@media (max-width: 1200px) {
    .container {
        flex: 100%;
    }
}

#titulo {
    font-family: 'Trebuchet aMS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 37px;
    text-align: center;
    margin: 15px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-shadow: 0 0 4px #be70eb, 0 0 5px #b94adb;
    text-align: center;
}

.subtitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-shadow: 4px 4px 6px rgb(174, 61, 202);
}

p {
    font-family: cursive;
    font-size: 18px;
    padding: 5px;
    margin: 12px;
}

#boton {
    background-color: #ba5cf0;
    border-color: rgb(0, 0, 0);
    color: white;
    font-family: cursive;
    margin: 20px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-align: left;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 0px;
}

.container-nav {
    display: flex;
    padding: 7px;
    height: 50px;
    margin: 20px 10px 40px 10px;
    background-color: rgb(140, 58, 187);
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}
  
li {
    list-style-type: none;
}
  
a {
    color: white;
    font-family: cursive;
    text-decoration: none;
}
  
.nav-links {
    display: flex;
    align-items: center;
} 
  
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
    .nav-links {
        display: none;
    }
    
    .button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
     
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap:70px;
        font-size: 40px;
    }
}

/*onclick="showAlert()"*/

.imagenesservicio {
    text-align: center;
}

#imagen1 {
    height: 20%;
    width: 20%;
    padding: 20px;
}

#imagen2 {
    height: 20%;
    width: 20%;
    padding: 20px;
}

#imagen3 {
    height: 20%;
    width: 20%;
    padding: 20px;
}

#video {
    text-align: center;
    margin: 40px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(126, 125, 125);
}

.greeting {
    text-align: center;
}